

/*Custom Headers*/

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
 /* margin-top: 20px;*/
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}  


/* Page Styles */

.container {
    width: 100%;
}

.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 2px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
div.list-group-item.read { color: #222;background-color: #F3F3F3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}

div.list-group-item:hover{
   background-color:#FFFFCC;
}


a:hover{
	text-decoration:none;
}
.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}  


.errmsg{

	border:1px solid #b30808;
	background:#e09494;
	color:#000;
	padding:8px;

}

/* Compose Styles */ 

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
 /* margin-top: 15px;*/
  position:absolute;
  text-align:left;
 /* width:394px;*/
  z-index:50;
  /*padding: 25px 25px 20px;*/
  padding:10px;
  right:0;bottom:0; 
  margin-right:5px;
-webkit-box-shadow: -2px -2px 3px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    -2px -2px 3px 0px rgba(50, 50, 50, 0.5);
box-shadow:         -2px -2px 3px 0px rgba(50, 50, 50, 0.5);
}

.messagepop input[type="text"]{
 width:100%;
}
.messagepop textarea {
    width: 100%;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.msgheader{
	background-color:#000;
	color:#fff;
	margin:-10px;
	padding:10px;
}

.msgclose{
	right:0;
	float:right;
	margin-top:-3px;
	padding:3px;
}

.msgclose:hover{
	right:0;
	float:right;
	background-color:#ccc;
	padding:3px;
	color:#000;
	margin-top:-3px;
}

.messagepop p, .messagepop.div {
  /*border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;*/
}


.glyphicon-star:before {
    color: #FFA500;
}
.glyphicon-star-empty:before {
    color: #808080;
}

